projekat/smestajSoap.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlWeb-smestaj/smestajSoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SmestajService" targetNamespace="http://xmlWeb-smestaj/smestajSoap">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xmlWeb-smestaj/smestajSoap" elementFormDefault="unqualified" targetNamespace="http://xmlWeb-smestaj/smestajSoap" version="1.0">
<xs:element name="Smestaj">
<xs:complexType>
<xs:all>
<xs:element name="id" type="xs:long"/>
<xs:element name="version" type="xs:int"/>
<xs:element name="naziv" type="xs:string"/>
<xs:element name="adresa" type="xs:string"/>
<xs:element name="grad" type="xs:string"/>
<xs:element name="drzava" type="xs:string"/>
<xs:element minOccurs="0" name="gmapUrl" type="xs:string"/>
<xs:element name="zvezdice" type="xs:int"/>
<xs:element maxOccurs="unbounded" name="dodatneUsluge" type="tns:dodatneUsluge"/>
<xs:element maxOccurs="unbounded" name="slike" type="tns:slika"/>
<xs:element name="opis" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="sobe" type="tns:soba"/>
<xs:element name="tip" type="tns:tipSmestaja"/>
<xs:element name="vlasnik" type="tns:korisnik"/>
<xs:element name="rejting" type="xs:float"/>
<xs:element name="brojOcena" type="xs:int"/>
</xs:all>
</xs:complexType>
</xs:element>
<xs:element name="getSmestajs" type="tns:getSmestajs"/>
<xs:element name="getSmestajsResponse" type="tns:getSmestajsResponse"/>
<xs:complexType name="getSmestajs">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getSmestajsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="dodatneUsluge">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="opcija" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="slika">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="uri" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="soba">
<xs:sequence>
<xs:element name="brojLezaja" type="xs:int"/>
<xs:element minOccurs="0" name="cena" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="cene" nillable="true" type="tns:cenovnik"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="iznajmljivanja" nillable="true" type="tns:iznajmljivanje"/>
<xs:element minOccurs="0" name="kategorija" type="tns:kategorijaSmestaja"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="opcija" nillable="true" type="tns:dodatneUsluge"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rezervisano" nillable="true" type="tns:rezervacija"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cenovnik">
<xs:sequence>
<xs:element minOccurs="0" name="cena" type="xs:long"/>
<xs:element minOccurs="0" name="datumDo" type="xs:dateTime"/>
<xs:element minOccurs="0" name="datumOd" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="iznajmljivanje">
<xs:sequence>
<xs:element minOccurs="0" name="cena" type="xs:long"/>
<xs:element minOccurs="0" name="datumDo" type="xs:dateTime"/>
<xs:element minOccurs="0" name="datumOd" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="mozePojedinacno" type="xs:boolean"/>
<xs:element minOccurs="0" name="soba" type="tns:soba"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="kategorijaSmestaja">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="kategorija" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="rezervacija">
<xs:sequence>
<xs:element minOccurs="0" name="datumDo" type="xs:dateTime"/>
<xs:element minOccurs="0" name="datumOd" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element name="ocena" type="xs:int"/>
<xs:element name="ocenio" type="xs:boolean"/>
<xs:element minOccurs="0" name="rezervisao" type="tns:korisnik"/>
<xs:element minOccurs="0" name="smestaj"/>
<xs:element minOccurs="0" name="soba" type="tns:soba"/>
<xs:element minOccurs="0" name="status" type="tns:statusRezevacije"/>
<xs:element name="version" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="korisnik">
<xs:sequence>
<xs:element minOccurs="0" name="adresa" type="xs:string"/>
<xs:element name="aktiviran" type="xs:boolean"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="authorities" nillable="true" type="tns:authority"/>
<xs:element minOccurs="0" name="confirmationToken" type="xs:string"/>
<xs:element minOccurs="0" name="email" type="xs:string"/>
<xs:element minOccurs="0" name="firstName" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="izdaje" nillable="true"/>
<xs:element minOccurs="0" name="lastName" type="xs:string"/>
<xs:element minOccurs="0" name="lastPasswordResetDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="PIB" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="rezervacije" nillable="true" type="tns:rezervacija"/>
<xs:element minOccurs="0" name="role" type="tns:role"/>
<xs:element minOccurs="0" name="statusNaloga" type="tns:statusKorisnika"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="authority">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="name" type="tns:authorityName"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:permission"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="tns:korisnik"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="permission">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="authorityList" nillable="true" type="tns:authority"/>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="tipSmestaja">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:long"/>
<xs:element minOccurs="0" name="tip" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="authorityName">
<xs:restriction base="xs:string">
<xs:enumeration value="ROLE_USER"/>
<xs:enumeration value="ROLE_ADMIN"/>
<xs:enumeration value="ROLE_AGENT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="role">
<xs:restriction base="xs:string">
<xs:enumeration value="ADMIN"/>
<xs:enumeration value="USER"/>
<xs:enumeration value="AGENT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="statusKorisnika">
<xs:restriction base="xs:string">
<xs:enumeration value="AKTIVAN"/>
<xs:enumeration value="BLOKIRAN"/>
<xs:enumeration value="NEPOTVRDJEN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="statusRezevacije">
<xs:restriction base="xs:string">
<xs:enumeration value="CONFIRMED"/>
<xs:enumeration value="CANCELED"/>
<xs:enumeration value="ARRIVED"/>
<xs:enumeration value="REJECTED"/>
<xs:enumeration value="PENDING"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getSmestajsResponse">
<wsdl:part element="tns:getSmestajsResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSmestajs">
<wsdl:part element="tns:getSmestajs" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="SmestajSoap">
<wsdl:operation name="getSmestajs">
<wsdl:input message="tns:getSmestajs" name="getSmestajs"> </wsdl:input>
<wsdl:output message="tns:getSmestajsResponse" name="getSmestajsResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SmestajServiceSoapBinding" type="tns:SmestajSoap">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getSmestajs">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="getSmestajs">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getSmestajsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="SmestajService">
<wsdl:port binding="tns:SmestajServiceSoapBinding" name="SmestajPort">
<soap:address location="https://localhost:8096/services/smestajService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>